.nf-form-wrap {
	margin-top: 3rem;
}
.nf-field-container.label-above {
	.nf-field-label label {
		font-size: 0.875rem;
		opacity: 0.25;
	}
	.nf-field-description {
		order: 20;

		p {
			font-size: 1rem;
			font-family: $sans;
		}
	}
}
.nf-field-container.textbox-container,
.nf-field-container.number-container,
.nf-field-container.textarea-container,
.nf-field-container.email-container,
.nf-field-container.spam-container  {
	margin-top: 1rem;

	&.label-above .nf-field-label {
		position: relative;
		z-index: 2;
		margin: 0;
		padding: 0.25rem 0.5rem;
	}

	&.label-above .nf-field-element {
		margin-top: -1.5rem;
	}

	.ninja-forms-field {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		background: $white;
		border: none;
		padding: 1.25rem 0.5rem 1rem;

		font: inherit;

		&:focus {
			outline: none;
		}
	}

	.nf-error-msg {
		font-size: 0.875rem;
	}

	.submit-wrap {
		margin-top: 3rem;

		.nf-field-element input[type="button"] {
			padding-left: 1rem;
			padding-right: 1rem;
			cursor: pointer;
		}
		.nf-field-element input[type="button"]:not([disabled]) {
			background: $blue;
			color: $white;

			&:hover {
				background: darken($blue, 10%);
			}
		}
	}
}