body {
	font-size: 112.5%; // 18px
	font-family: $sans;

  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
  background-color: $yellow;
  color: $blue;
}
::selection {
  background-color: $yellow;
  color: $blue;
}


h1 {
	font-size: 2.5rem;
	color: $blue;
}

h3 {
	font-size: 1.5rem;
	font-weight: bold;
	color: $blue;
}

blockquote {
	position: relative;
	margin-left: -2rem;
	margin-bottom: 2rem;
	padding: 2rem;
	padding-right: 0;

	p {
		position: relative;
		font-family: $sans;
		font-size: 2rem;
		line-height: 2.5rem;
		font-style: italic;
		color: $blue;
	}
	cite {
		font-size: 1.5rem;

		&:before { content: "— "; }
	}
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 12rem;
		background: $yellow;
	}
}

p {
	font-family: $serif;
	font-size: 100%;
	line-height: 2rem;

	color: rgba($greyDark, 0.8);

	& + p {
		margin-top: 1rem;
	}
}

hr {
	margin: 4rem -2rem;
	border: 1px solid rgba($greyDark, 0.1);

	@include tabletAndUp() {
		margin-right: -8rem;
	}
}




// TMP: page-specific
.page-name--join {
	background: $yellow;

	p {
		color: rgba($greyDark, 0.9);
	}
	.main__footer {
		border-top: 1px solid darken($yellow, 30%);
	}
}



// Sidebar quote
.sidebar-quote {
	margin-bottom: 0;
	
	p {
		font-size: 1.5rem;
		line-height: 1.75rem;
		color: $yellow;
	}
	&::before {
		display: none;
	}
}
