#content {
	min-height: 100vh;
	
	@include tabletAndUp() {
		display: flex;
	}
}

aside {
	flex: 1;
	flex-basis: 28%;
	max-height: 100vh;
	padding: 2rem;
	background: $greyDark;
	color: $white;
	
	@include tabletAndUp() {
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
}

main {
	position: relative;
	flex: 1;
	flex-basis: 72%;
	max-height: 100vh;
	padding: 2rem;

	@include tabletAndUp() {
		padding-right: 8rem;

		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}

	.main__title {
		margin-top: 8rem;
		margin-bottom: 2rem;
	}
}
