

// Colours
$blue: #3417AD;
$yellow: #FAFE8D;

$white: #fff;
$greyDark: #333344;
$black: #000;


// Font
$sans: "HK Grotesk", -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: "IBM Plex Serif", Georgia, serif;



// Mixins
@mixin tabletAndUp() {
  @media screen and (min-width: 30rem) {
    @content;
  }
}
